
body{
 font-family: 'Montserrat',Perpetua,Courier New, Lucida Sans Typewriter, Lucida Console, monaco, Bitstream Vera Sans Mono;
 padding-top: 1px;
}
div{
	font-family: 'Montserrat', sans-serif;
}
h1{
	text-align: center;
}
h3{
	text-align: center;
}
/* Header Stuff */
div#header-wrapper {
 width:100%;
 height: 400px; /* height of the background image? */
 text-align:center;
 top: 0;
}

div#header-wrapper div#header {
 width:100%;
 height:100%;
 margin: 0;
 position: relative;
 background-image: linear-gradient(blue,#0B0B61);
}

div#header-wrapper div#header img {
	width: 7%; /* the width of the logo image */
	height:auto; /* the height of the logo image */
	float: left;
	margin:0px;
	display: inline-block;
	cursor: pointer;
}
div#header h1{
	color: white;
	text-transform: uppercase;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

/* Navbar Details */
.navbar-fixed-top{
	margin-left: 8%;
	overflow:hidden;
	color: white;
	top: 0;
	z-index: 1000;
	transition: background-color .5s;
    -webkit-transition: background-color .5s;
    -o-transition: background-color .5s;
    -moz-transition: background-color .5s;
}

.navbar-fixed-top.scrolled{
	transition: background-color .5s;
    -webkit-transition: background-color .5s;
    -o-transition: background-color .5s;
    -moz-transition: background-color .5s;
	background-color: #fff;
	color: #555;
	margin-left: 0%;
}
.navbar-fixed-top.scrolled a{
	color:#555;
}
/* Individual tabs in nabar */
.mg-tabs.scrolled{
	background-color: #FFF;
	margin-left: 8%;
	transition: background-color .5s;
    -webkit-transition: background-color .5s;
    -o-transition: background-color .5s;
    -moz-transition: background-color .5s;
}
.mg-tabs a{
	position: relative;
	text-transform: uppercase;
	cursor: pointer;
	float: left;
	color: white;
	text-align: center;
	display: block;
	padding: 14px 20px;
	text-decoration: none;
}
.mg-tabs a:hover{
	border-bottom: 1px solid;
	
}
.mg-tabs a.active{
	border-bottom: 1px solid;
}
.main-content{
	height: 100%;
 	width: 100%;
 	margin: 0 0 0 0;
}
.mg-col{
  vertical-align: middle;
  background-color: white;
  width: 100%;
  display: inline-block;
  border: 1px solid #ccc;
  padding-top: 40px;
  height: auto;
  box-shadow: 2px 2px 6px #e1e1e1;
  padding-bottom: 40px;
}

.my-container{
	margin-bottom: 100px;
	margin-left: 25%;
	height:auto; 

	width: 50%;
	top:100px;
	text-align: left;
}
/* Schedule css */

.game-details{
  border-radius: 10px;
  width: 100%;
  height: auto;
  background-color: white;
  border: 1px solid;
  text-align:center;
  display: inline-block;
  margin: 10px 10px 10px 10px;
}
.vs-team{
  width: auto;
  margin-top: 20px;
  min-width: 100%;
  font-weight: 600;
  font-size: calc(12px + 0.8vw);
  display: inline-block;
}

.vs-date{
  font-weight: 400;
  font-size: calc(6px + 0.4vw);
}
.game-stats{
	margin-top: 10px;
  width: 100%;
  font-size: calc(8px + 0.5vw);
  display: inline-block;
  position: relative;
}
.col-label{
  font-size: calc(6px + 0.3vw);
  line-height: 10px;
  font-weight: bold;
  height: 10px;
}

.single-col{
	padding: 10px;
	width: auto;
  white-space: nowrap;
  text-align: center;
  display: inline-block;
}
.lose{
	background-color: #800000;
	color: white;
}
.win{
	background-color: #27ae60;
	color: white;
}
.rain{
	background-color:  #5dade2;
	color: white;
}
.mg-col h3{
	font-weight: 600;
}
.mg-col h1{
	padding-bottom: 50px;
}

.footer{
	background-image: linear-gradient(#0B0B61, blue);
	height: 600px;
	padding-top: 100px;

}
.footer-content-wrapper{
	margin: auto;
	width: 40%;
	display: block;

}
.footer-content{
	text-transform: uppercase;
	text-align: center;
	height: 200px;
	color: white;
}
.footer-text-wrapper{
	position: relative;
	display: inline-block;
	width: auto;
	vertical-align: top;
}
.footer-text{
	width: auto;

}
ul{
	list-style-type: none;
}
.footer-text li{
	text-transform: none;
	
}
.footer-text a:link{
	text-decoration: none;
	color: white;
}
.footer-text a:hover{
	border-bottom: 1px solid;
}
.footer-text a:visited{
	color: white;
}
.footer-text i{
}
